
  body {
      background-color:#EBDFC2;
      margin: 0;
      font-family: sans-serif;
      text-align: center


  }
  h1{
    color:#8E8E8E	;
  }
  h3 {
    color: 	#4F4F4F	;
  }

  hr {
    border-style: none ;
    border-TOP-style: dotted ;
    border-color: #7B7B7B ;
    border-width: 7px;
    width:5%;
  }

  .b{
    padding-top: 30px;
    background-color:#ffffff;
    padding-bottom: 30px;

  }

  .TOP1{
    margin: 50px auto 50px auto;
  }

  .body2{
    width: 26%;
    margin: 5px auto 5px auto;
    text-align:left;
    line-height: 2;
  }
  .img-me{
    padding-TOP:30px;

  }
  .img-fox{
    position: absolute;
    left: 400px;
    top: 150px;

  }
.img-bottom{
  position: absolute;
  padding-left: 320px;
  top:250px;
}
.img-flowers{
  position: absolute;
  left:100px;
  top:130px;
}
.flaticon{
   font-size: 0.5em;
   margin-right:1650px;
}
