
  body {

      margin: 0;
      font-family: sans-serif;
      text-align: center


  }
  h1{
    color:#8E8E8E	;
  }
  h3 {
    color: 	#4F4F4F	;
  }

  hr {
    border-style: none ;
    border-TOP-style: dotted ;
    border-color: #7B7B7B ;
    border-width: 7px;
    width:5%;
  }

.a{
  background-color:#EBDFC2;
  padding-TOP:30px;
  padding-bottom: 30px;

}

  .b{
    padding-top: 30px;
    background-color:#ffffff;

  }

  .TOP1{
    margin: 50px auto 50px auto;
  }

  .body2{
    width: 26%;
    margin: 5px auto 5px auto;
    text-align:left;
    line-height: 2;

  }
